@model Application.DTO.Frontend.CartAndPromoCodeFront

@{
    ViewBag.Title = "Cart";
    Layout = "_Layout";
    var promoCodeKey = "";
    if (Model.PromoCode != null)
    {
        promoCodeKey = @Model.PromoCode.Key;
    }
}

<h2>Cart</h2>

<form asp-controller="Customer" asp-action="GetCart" method="get">
    <p>
        <label>
            <b>PromoCode:</b>
        </label>
        <input type="text" placeholder="PromoCode" name="PromoCodeKey" value="@promoCodeKey"/>
        <input type="submit" value="Use PromoCode"/>
    </p>
</form>

<ul class="pUl">
    @{
        double? totalSumCart = 0;
    }
    @foreach (var v in @Model.Cart)
    {
        var phone = v.Phone;
        var phoneClass = "";
        if (phone.Hided == true)
        {
            phoneClass = "pHided";
        }
        else if (phone.Stock <= 0)
        {
            phoneClass = "pStockEmpty";
        }

        double discount = 1;
        var discountPhone = false;
        if (promoCodeKey != "")
        {
            if (Model.PromoCode.Phone.PhoneSlug == phone.PhoneSlug)
            {
                discount = (double) ((100.0 - Model.PromoCode.Discount) / 100.0);
                discountPhone = true;
            }
        }

        var totalPrice = v.Amount * phone.Price * discount;
        totalSumCart += totalPrice;

        <li class="pLi @phoneClass">
            <a class="pUrl"
               asp-controller="Customer"
               asp-action="GetPhone"
               asp-route-phoneSlug="@phone.PhoneSlug">
                <img class="phoneImage" src="@phone.Thumbnail" alt="x"/>
                <div class="pRow">
                    <span class="pColKey">BrandSlug:</span>
                    <span class="pColVal">@phone.BrandSlug</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">PhoneName:</span>
                    <span class="pColVal">@phone.PhoneName</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">Price:</span>
                    <span class="pColVal">@phone.Price</span>
                    @if (discountPhone)
                    {
                        <span class="pColValGreen">-@Model.PromoCode.Discount%</span>
                    }
                </div>
                <div class="pRow">
                    <span class="pColKey">Stock:</span>
                    <span class="pColVal">@phone.Stock</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">Amount in Cart:</span>
                    <span class="pColVal">@v.Amount</span>
                </div>

                <div class="pRow">
                    <span class="pColKey">Total price:</span>
                    <span class="pColVal">@totalPrice</span>
                </div>
            </a>

            <a asp-controller="Customer"
               asp-action="RemoveFromCart"
               asp-route-phoneSlug="@phone.PhoneSlug">
                Remover From Cart
            </a>
        </li>
    }
</ul>

<h4>Total Sum Cart: @totalSumCart</h4>

<a asp-controller="Customer"
   asp-action="BuyPhones"
   asp-route-PromoCodeKey="@promoCodeKey">
    <h3>Buy</h3>
</a>