@model Application.DTO.Frontend.PhoneSpecFront

@{
    ViewBag.Title = "Phone Specifications";
    Layout = "_Layout";
    var phone = @Model.PhoneDetail;
}

<form asp-controller="Admin" asp-action="AddOrUpdatePhone" method="post">
    <input type="hidden" value="@Model.BrandSlug" name="BrandSlug"/>
    <input type="hidden" value="@Model.PhoneSlug" name="PhoneSlug"/>
    <input type="hidden" value="@Model.InStore" name="InStore"/>
    <p>
        <label>Already in store? @Model.InStore</label>
    </p>
    <p>
        <label>Hided: </label>
        <input asp-for="@Model.Hided" type="checkbox" name="Hided"/>
    </p>
    <p>
        <label>Stock: </label>
        <input type="number" min="0" placeholder="Stock" value="@Model.Stock" name="Stock"/>
    </p>
    <p>
        <label>Price: </label>
        <input type="number" min="0" placeholder="Price" value="@Model.Price" name="Price"/>
    </p>
    <p>
        <input type="submit" value="Insert Or Update"/>
    </p>
</form>

<hr/>

<h2>Phone Specification</h2>

@foreach (var image in @phone.Phone_images)
{
    <img class="phoneImage" src="@image" alt="x"/>
}
<br/>

@if (@phone.Thumbnail != string.Empty)
{
    <img class="phoneImage" src="@phone.Thumbnail" alt="x"/>
}

<br/>
<br/>

<div>
    <b>Brand:</b> @phone.Brand
</div>
<div>
    <b>Phone_name:</b> @phone.Phone_name
</div>
<div>
    <b>Release_date:</b> @phone.Release_date
</div>
<div>
    <b>Dimension:</b> @phone.Dimension
</div>
<div>
    <b>Os:</b> @phone.Os
</div>
<div>
    <b>Storage:</b> @phone.Storage
</div>

@foreach (var v in phone.Specifications)
{
    <hr/>
    <b>@v.Title</b>
    <br/>
    foreach (var spec in v.Specs)
    {
        <b>@spec.Key:</b>
        <br/>
        foreach (var sval in spec.Val)
        {
            @sval
            <br/>
        }
    }
}