@model System.Collections.Generic.List<Database.Models.PromoCode>

@{
    ViewBag.Title = "Promo Codes";
    Layout = "_Layout";
}

<h2>Promo Codes</h2>

<div>
    <div>Create Promo Code</div>
    <form asp-controller="Admin" asp-action="CreateCode" method="get">
        <div>
            <label class="filterLabel">PhoneSlug:</label>
            <input type="text" name="PhoneSlug" placeholder="PhoneSlug" value=""/>
        </div>
        <div>
            <label class="filterLabel">Key:</label>
            <input type="text" name="Key" id="Key" placeholder="Key" value=""/>

            <button type="button" onclick="setRandKey()">GetRandKey</button>
        </div>
        <div>
            <label class="filterLabel">Amount:</label>
            <input type="number" min="1" name="Amount" placeholder="Amount" value="1"/>
        </div>
        <div>
            <label class="filterLabel">Discount:</label>
            <input type="number" min="0" max="100" name="Discount" placeholder="Discount" value="0"/>
        </div>
        <div>

            <input type="submit" value="Create"/>
        </div>

    </form>
</div>

<script>
function setRandKey() {
    document.getElementById('Key').value = Math.random().toString(36).substring(2, 15);
}
setRandKey();
</script>

<br/>
<ul class="pUl">
    @foreach (var v in @Model)
    {
        var phone = v.Phone;
        var phoneClass = "";
        if (phone.Hided == true)
        {
            phoneClass = "pHided";
        }
        else if (phone.Stock <= 0)
        {
            phoneClass = "pStockEmpty";
        }

        <li class="pLi @phoneClass">
            <a class="pUrl"
               asp-controller="Admin"
               asp-action="PhoneSpecifications"
               asp-route-phoneSlug="@phone.PhoneSlug">
                <img class="phoneImage" src="@phone.Thumbnail" alt="x"/>
                <div class="pRow">
                    <span class="pColKey">BrandSlug:</span>
                    <span class="pColVal">@phone.BrandSlug</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">PhoneName:</span>
                    <span class="pColVal">@phone.PhoneName</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">Price:</span>
                    <span class="pColVal">@phone.Price</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">Stock:</span>
                    <span class="pColVal">@phone.Stock</span>
                </div>
            </a>

            <div class="pRow">
                <span class="pColKey">Promocode Key:</span>
                <span class="pColVal">@v.Key</span>
            </div>
            <div class="pRow">
                <span class="pColKey">Promocode Amount:</span>
                <span class="pColVal">@v.Amount</span>
            </div>
            <div class="pRow">
                <span class="pColKey">Promocode Discount
                    :</span>
                <span class="pColVal">@v.Discount</span>
            </div>

            <a asp-controller="Admin"
               asp-action="DeleteCode"
               asp-route-key="@v.Key">
                DeleteCode
            </a>

        </li>
    }
</ul>