@model Application.DTO.Frontend.PhonesPageFront;

@{
    ViewBag.Title = "Get Phones In Store";
    Layout = "_Layout";

    var filter = @Model.FilterForm;
    var phones = @Model.Phones;

    var InStock = filter.InStock;
}

<div>
    <b>Filter</b>
</div>
<form asp-controller="Admin" asp-action="ShowPhones" method="get">
    <div>
        <label class="filterLabel">BrandName: </label>
        <input
            type="text"
            placeholder="BrandName"
            name="brandName"
            value="@filter.BrandName"/>
    </div>
    <div>
        <label class="filterLabel">PhoneName: </label>
        <input
            type="text"
            placeholder="PhoneName"
            name="phoneName"
            value="@filter.PhoneName"/>
    </div>
    <div>
        <label class="filterLabel">PriceMin: </label>
        <input
            type="number"
            min="0"
            placeholder="PriceMin"
            name="priceMin"
            value="@filter.PriceMin"/>
    </div>
    <div>
        <label class="filterLabel">PriceMax: </label>
        <input
            type="number"
            min="0"
            placeholder="PriceMax"
            name="priceMax"
            value="@filter.PriceMax"/>
    </div>
    <div>
        <label class="filterLabel">InStock: </label>
        <input
            asp-for="@InStock"
            type="checkbox"
            name="InStock"/>

    </div>
    <div>
        <label class="filterLabel">OrderBy: </label>
        @{
            var list = new List<SelectListItem>
            {
                new() {Value = "BrandSlug", Text = "BrandSlug"},
                new() {Value = "PhoneName", Text = "PhoneName"},
                new() {Value = "Price", Text = "Price"},
                new() {Value = "Stock", Text = "Stock"}
            };
            var orderBy = new SelectList(list,
                "Value",
                "Text",
                filter.OrderBy);
        }
        @Html.DropDownList("orderBy",
            selectList: orderBy,
            htmlAttributes: new {name = "orderBy"}
            )
    </div>
    <div>
        <input
            type="submit"
            value="Submit"/>
    </div>
</form>

<hr/>

<div>Get Phones In Store</div>
<div>Total Phones Count: @Model.TotalPhones</div>
<div>Page size: @Model.PageSize</div>
<div>Page: @Model.Page / @Model.TotalPages</div>

@for (var i = 1; i <= @Model.TotalPages; i++)
{
    <a asp-controller="Admin" asp-action="ShowPhones"
       asp-route-brandName="@filter.BrandName"
       asp-route-phoneName="@filter.PhoneName"
       asp-route-priceMin="@filter.PriceMin"
       asp-route-priceMax="@filter.PriceMax"
       asp-route-inStock="@InStock"
       asp-route-orderBy="@filter.OrderBy"
       asp-route-page="@i">
        @i |
    </a>
}

<ul class="pUl">
    @foreach (var phone in phones)
    {
        var phoneClass = "";
        if (phone.Hided == true)
        {
            phoneClass = "pHided";
        }
        else if (phone.Stock <= 0)
        {
            phoneClass = "pStockEmpty";
        }

        <li class="pLi @phoneClass">
            <a class="pUrl"
               asp-controller="Admin"
               asp-action="PhoneSpecifications"
               asp-route-phoneSlug="@phone.PhoneSlug">
                <img class="phoneImage" src="@phone.Thumbnail" alt="x"/>
                <div class="pRow">
                    <span class="pColKey">BrandSlug:</span>
                    <span class="pColVal">@phone.BrandSlug</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">PhoneName:</span>
                    <span class="pColVal">@phone.PhoneName</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">Price:</span>
                    <span class="pColVal">@phone.Price</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">Stock:</span>
                    <span class="pColVal">@phone.Stock</span>
                </div>
            </a>
        </li>
    }
</ul>