@model Application.DTO.PhoneSpecificationsAPI.TopByInterest.TopByInterestDto

@{
    ViewBag.Title = "Top By Interest";
    Layout = "_Layout";
    var data = @Model.Data;
}

<h2>Top By Interest</h2>

<h4>@data.Title : @data.Phones.Count</h4>

<ul>
    @foreach (var phone in @data.Phones)
    {
        <li>
            <a asp-controller="Admin"
               asp-action="GetPhone"
               asp-route-phoneSlug="@phone.Slug">
                <b>Phone_name:</b> @phone.Phone_name |
                <b>Hits:</b> @phone.Hits
            </a>
        </li>
    }
</ul>