@model Application.DTO.Frontend.PhonesPageFront 

@{
    ViewBag.Title = "Get Phones In Store";
    Layout = "_Layout";
    var phones = @Model.Phones;
}

<div>Get Phones In Store</div>
<div>Total Phones Count: @Model.TotalPhones</div>
<div>Page size: @Model.PageSize</div>
<div>Page: @Model.Page / @Model.TotalPages</div>

@for (var i = 1; i <= @Model.TotalPages; i++)
{
    <a asp-controller="Admin"
       asp-action="GetPhonesInStore"
       asp-route-page="@i">
        @i |
    </a>
}

<ul class="pUl">
    @foreach (var phone in phones)
    {
        var phoneClass = "";
        if (phone.Hided == true)
        {
            phoneClass = "pHided";
        }
        else if (phone.Stock <= 0)
        {
            phoneClass = "pStockEmpty";
        }

        <li class="pLi @phoneClass">
            <a class="pUrl"
               asp-controller="Admin"
               asp-action="PhoneSpecifications"
               asp-route-phoneSlug="@phone.PhoneSlug">
                <img class="phoneImage" src="@phone.Thumbnail" alt="x"/>
                <div class="pRow">
                    <span class="pColKey">BrandSlug:</span>
                    <span class="pColVal">@phone.BrandSlug</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">PhoneName:</span>
                    <span class="pColVal">@phone.PhoneName</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">Price:</span>
                    <span class="pColVal">@phone.Price</span>
                </div>
                <div class="pRow">
                    <span class="pColKey">Stock:</span>
                    <span class="pColVal">@phone.Stock</span>
                </div>
            </a>
        </li>
    }
</ul>