@model Models.DTO.RemoteAPI.Latest.Latest

@{
    ViewBag.Title = "Latest";
    Layout = "_Layout";
    var data = @Model.Data;
}

<h2>Latest</h2>

<h4>@data.Title : @data.Phones.Count</h4>

<ul>
    @foreach (var phone in @data.Phones)
    {
        <li>
            <a asp-controller="Api"
               asp-action="PhoneSpecifications"
               asp-route-phoneSlug="@phone.Slug">
                <img src="@phone.Image" alt="x"/>
                @phone.Phone_name
            </a>
        </li>
    }
</ul>