@model Application.DTO.Frontend.PhoneDto

@{
    ViewBag.Title = "Customer Phone Specifications";
    Layout = "_Layout";

    var phone = @Model;

}

<form asp-controller="Customer" asp-action="SubscribePrice" method="post">
    <input type="hidden" name="BrandSlug" value="@phone.BrandSlug"/>
    <input type="hidden" name="PhoneSlug" value="@phone.PhoneSlug"/>
    <p>
        <label>
            <b>Subscribe to a Price change:</b>
        </label>
        <input type="email" placeholder="Email" name="Email"/>
        <input type="submit" value="Subscribe"/>
    </p>
</form>

<hr/>


@if (@phone.Stock <= 0)
{
    <form asp-controller="Customer" asp-action="SubscribeStock" method="post">
        <input type="hidden" name="BrandSlug" value="@phone.BrandSlug"/>
        <input type="hidden" name="PhoneSlug" value="@phone.PhoneSlug"/>
        <p>
            <label>
                <b>Subscribe to a Stock change:</b>
            </label>
            <input type="email" placeholder="Email" name="Email"/>
            <input type="submit" value="Subscribe"/>
        </p>
    </form>
}

<hr/>

<h2>Customer Phone Specifications</h2>

<div>
    <b>Price:</b> @phone.Price
</div>

<div>
    <b>Stock:</b> @phone.Stock
</div>

@foreach (var image in @phone.Images)
{
    <img class="phoneImage" src="@image" alt="x"/>
}
<br/>

@if (@phone.Thumbnail != string.Empty)
{
    <img class="phoneImage" src="@phone.Thumbnail" alt="x"/>
}

<br/>
<br/>

<div>
    <b>Brand:</b> @phone.BrandSlug
</div>
<div>
    <b>Phone_name:</b> @phone.PhoneName
</div>
<div>
    <b>Release_date:</b> @phone.ReleaseDate
</div>
<div>
    <b>Dimension:</b> @phone.Dimension
</div>
<div>
    <b>Os:</b> @phone.Os
</div>
<div>
    <b>Storage:</b> @phone.Storage
</div>

@foreach (var v in phone.Specifications)
{
    <hr/>
    <b>@v.Title</b>
    <br/>
    foreach (var spec in v.Specs)
    {
        <b>@spec.Key:</b>
        <br/>
        foreach (var sval in spec.Val)
        {
            @sval
            <br/>
        }
    }
}

<hr/>


<h3>
    Comments
</h3>

@foreach (var comment in phone.Comments)
{
    <hr/>
    <div>
        Id: @comment.Id <br/>
        PhoneSlug: @comment.PhoneSlug <br/>
        UserId: @comment.UserId <br/>
        Rating: @comment.Rating <br/>
        CreateTime: @comment.CreateTime <br/>
        Comments: @comment.Comments <br/>
    </div>
}


<h4>
    Post comment
</h4>
<form asp-controller="Customer" asp-action="PostComment" method="post">
    <input type="hidden" name="PhoneSlug" value="@phone.PhoneSlug"/>
    <div>
        <div>
            <b>Comments:</b>
        </div>
        <textarea class="customerComments" name="Comments" maxlength="3000"></textarea>
    </div>
    <div>
        <label class="pRating">Rating: </label>
        @{
            var list = new List<SelectListItem>
            {
                new() {Value = "1", Text = "1"},
                new() {Value = "2", Text = "2"},
                new() {Value = "3", Text = "3"},
                new() {Value = "4", Text = "4"},
                new() {Value = "5", Text = "5"}
            };
            var orderBy = new SelectList(list,
                "Value",
                "Text",
                5);
        }
        @Html.DropDownList("Rating",
            selectList: orderBy,
            htmlAttributes: new {name = "Rating"}
            )
    </div>
    <input type="submit" value="Post Comment"/>
</form>