@using RouteAttribute = Microsoft.AspNetCore.Mvc.RouteAttribute
@model Application.DTO.Frontend.PhoneDto

@{
    ViewBag.Title = "Customer Phone Specifications";
    Layout = "_Layout";

    var phone = @Model;

}

<a asp-controller="CustomerWishLists" asp-action="AddWishList" asp-route-phoneSlug="@phone.PhoneSlug">Add To Wish List</a>

<form asp-controller="CustomerSubscriber" asp-action="SubscribePrice" method="post">
    <input type="hidden" name="BrandSlug" value="@phone.BrandSlug"/>
    <input type="hidden" name="PhoneSlug" value="@phone.PhoneSlug"/>
    <p>
        <label>
            <b>Subscribe to a Price change:</b>
        </label>
        <input type="email" placeholder="Email" name="Email"/>
        <input type="submit" value="Subscribe"/>
    </p>
</form>

<hr/>


@if (@phone.Stock <= 0)
{
    <form asp-controller="CustomerSubscriber" asp-action="SubscribeStock" method="post">
        <input type="hidden" name="BrandSlug" value="@phone.BrandSlug"/>
        <input type="hidden" name="PhoneSlug" value="@phone.PhoneSlug"/>
        <p>
            <label>
                <b>Subscribe to a Stock change:</b>
            </label>
            <input type="email" placeholder="Email" name="Email"/>
            <input type="submit" value="Subscribe"/>
        </p>
    </form>
}

<hr/>

<h2>Customer Phone Specifications</h2>

<form asp-controller="CustomerCart" asp-action="AddCart" method="post">
    <input type="hidden" name="PhoneSlug" value="@phone.PhoneSlug"/>
    <p>
        <label>
            <b>amount:</b>
        </label>
        <input type="number" min="1" max="@phone.Stock" placeholder="Amount" name="amount" value="1"/>
        <input type="submit" value="Add to cart"/>
    </p>
</form>

<div>
    <b>Price:</b> @phone.Price
</div>

<div>
    <b>Stock:</b> @phone.Stock
</div>

@foreach (var image in @phone.Images)
{
    <img class="phoneImage" src="@image" alt="x"/>
}
<br/>

@if (@phone.Thumbnail != string.Empty)
{
    <img class="phoneImage" src="@phone.Thumbnail" alt="x"/>
}

<br/>
<br/>

<div>
    <b>Brand:</b> @phone.BrandSlug
</div>
<div>
    <b>Phone_name:</b> @phone.PhoneName
</div>
<div>
    <b>Release_date:</b> @phone.ReleaseDate
</div>
<div>
    <b>Dimension:</b> @phone.Dimension
</div>
<div>
    <b>Os:</b> @phone.Os
</div>
<div>
    <b>Storage:</b> @phone.Storage
</div>

@foreach (var v in phone.Specifications)
{
    <hr/>
    <b>@v.Title</b>
    <br/>
    foreach (var spec in v.Specs)
    {
        <b>@spec.Key:</b>
        <br/>
        foreach (var sval in spec.Val)
        {
            @sval
            <br/>
        }
    }
}

<hr/>

<div>
    <b>AverageRating:</b> @phone.AverageRating
</div>


<div id="showPhoneComments">

</div>


<script>
function LoadPhoneComments(phoneSlug, page = 1) {
    let url = '@Url.Action("GetPhoneComments", "CustomerPhonesShop", new {phoneSlug = "_phoneSlug_", page = "_page_"})'
        .replace('_phoneSlug_', phoneSlug)
        .replace('_page_', page);
    
    console.log(url)
    
    fetch(url).then((response) => {
        return response.text();
    }).then((result) => {
        document.getElementById('showPhoneComments').innerHTML = result;
    });
}

LoadPhoneComments("@phone.PhoneSlug", page = 1);
</script>